*{
    margin: 0px;
    padding: 0px;
}

body{
    border: solid 1px red;    
    padding: 15px 20px;   
    height: 200px;     
}

header{
    border: solid 1px blue; 
    display: flex;    
    flex-direction: row;    
    justify-content: space-between;    
}

div{
    border: solid 1px green;   
    width: 30px; 
    height: 30px;
    margin: 10px 10px;    
}

div:nth-child(1){
    border: solid 1px green;  
}

div:nth-child(2){
    border: solid 1px red;  
}

div:nth-child(3){
    border: solid 1px yellow;  
    justify-content: end;
}